<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://andersonlab.qb3.berkeley.edu:3306/WillsPlayground</property>
    <property name="hibernate.connection.username">login</property>
    <property name="hibernate.connection.password">password</property>
    <property name="hibernate.default_catalog">WillsPlayground</property>
  </session-factory>
</hibernate-configuration>
